/* Common Shared Styles  */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth"100;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
      

}

.text-primary{
    color: hsla(25, 98%, 52%, 1);
}

.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
main section{
    margin-top: 130px;
}
footer{
    max-width: 1440px;
    margin: auto;

}


/* nav releted style */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin: 0px 200px;
}

.nav-tittle{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: hsla(0, 0%, 28%, 1);
}

/* Header Releted Style  */
.head{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    align-items: center;
    max-width: 585px;
}

/* .banner .profile-pic{
    width: 500px;
} */

.gretings{
    color:  #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;

}

.title{
    color:  #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* sections style  */
main{
    max-width: 1440px;
    margin: auto;
}

/* about section styel */
.about{
    margin: 130px 0px;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    
}

.section-description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
    background-color: #FFF8F3;
}

.info-tittle{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.info-description{
    color:  #474747;
    font-size: 20px;
    font-weight: 700;
}

/* my skills section */

#my-skills{     
    padding: 30px 150px;
    
}
.skils{
    padding: 32px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);



}
.skils-continer{
    width: 1140px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: auto; 
}

.skill-tittle{
    color: #181818;
    font-size: 20px;
    font-weight: 700;

}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* my resume section  */
.section-title{
    margin-bottom: 80px;
}
.resume-continer{
    display: flex;
    gap: 48px;
    width: 1140px;
    margin: auto;
}
.colomn-tittle{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

}

.resume-item-tittle{
    color:  #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;

}

.resume-item-tittle-inistute{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-item-description{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
hr{
    background: #D1D1D1;
}
.download-cv{
     text-align: center;
     margin-top: 50px;
     margin-bottom: 120px;
}

/* footer section  */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 100px 200px;
}

.footer-colomn{
    width: 50%;
}

.social-links a{
    margin-left: 24px;
}

.contact input[type="text"], textarea{
    display: block;
    padding: 18px 35px;
    border: 0px;
    margin-bottom: 24px;
    color: 757575;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
}
.section-tittle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.section-desription{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}